
:root{
    --start: #47E720;
    --resume: #1AE8A7;
    --pause: #E8361A;
    --reset: black;
}


/* Logo ------------------------------------------- */
#App-logo {
    height: 40vmin;
    margin-bottom: 50px;
    pointer-events: none;
}

.App-logo-run{
    animation-name: spin;
    animation-duration: 7500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }

}


/* Timer ------------------------------------------ */
.timer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
}

.container{
    padding-top: 120px;
}

.timer_container{
    background-color: #fff;
    width: 30vw;
    padding: 1rem 6rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem rgb(0,0,0,0.4);
    color: black;
}


/* Buttons ---------------------------------------- */
#actionButton{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 18px;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 5px;
}

.stop{
    background-color: var(--pause);
}

.reset{
    background-color: var(--reset);
}

.resume{
    background-color: var(--resume);
    animation: fadein ease 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.start{
    background-color: var(--start);
}


/* Select Box Input*/
#demo-simple-select-label{
    color: white;
    font-size: 18px;
    font-weight: bold;
}

